body {
  background-color: #666;
}

footer {
  margin-top: 30px;
}

textarea,input[type=search],input[type=text]{
	height:20px;
	width: 780px;
	border-style:solid;
    border-bottom-color: #999;
    border-left-color: #fff;
    border-right-color: #fff;
    border-top-color: #fff;
	border-width:0.1px;
	font-size: auto;
	font-family:'Open Sans', sans-serif;
	padding:3.3333333333333px 6.6666666666667px;
	-moz-border-radius:3px;
	border-radius:1px;
	-webkit-transition:all linear .1s;
	-moz-transition:all linear .1s;
	-o-transition:all linear .1s;
	-ms-transition:all linear .1s;
	transition:all linear .1s
}

textarea{
	height:auto
}

textarea:focus,input[type=search]:focus,input[type=text]:focus,input.focus{
	border-bottom-color:#42a4e0;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-width: 3px;
	-webkit-transition:all linear .1s;
	-moz-transition:all linear .1s;
	-o-transition:all linear .1s;
	-ms-transition:all linear .1s;
	transition:all linear .1s
}

#landing {
  color: #000;
  margin-top: 100px;
  background-color: #E1E1E1;
  border-radius: 20px;
}

#addMe {
  width: 600px;
  height: 50px;
  background-color: read;
  margin-right: 10px;
}

#links {
  color: #000;
  margin-top: 100px;
  background-color: #E1E1E1;
  border-radius: 20px;
}


@media only screen and (max-width: 768px) {
  #addMe {
    display: inline-block;
    margin: 10px auto;
  }
}
@media only screen and  (min-width: 480px) and (max-width: 1400px) {
  #addMe {
    display: inline-block;
    margin: 0px auto;
  }
}
