<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron" id="links">
        <center><img src="../include/img/icon.jpg" width="80" height="80">
            <h5>Start adding !</h5>
        </center>
        <br />
        <center>
          <form ng-init="focusInput()" ng-submit="clear()">
            <input type="search" id="addMe" ng-model="enteredLink"/>
            <input type="submit" ng-click ="submit()" class="btn btn-lg btn-success addButton" value="Add">
          </form>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron" id="links">
        <center>
        <br>
        <h2 style="margin-top: -10px;">Links</h2><h5>Start sharing !</h5>
        <span ng-repeat ="url in urls"><a href={{url}} target="_blank">{{url}}</a> <br /> </span>
        </center>
      </div>
    </div>
  </div>
</div>

<footer>
  <center>
    <h5><b>MIT License</b>, Akhil Pandey 2016</h5>
  </center>
</footer>
